<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.weibo"
    version="1.0.0">

    <name>Weibo</name>
    <description>Weibo API wrapper.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/weibo.js" name="Weibo">
        <clobbers target="cordova.plugins.Weibo" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <header-file src="src/ios/CDVWeibo.h" />
        <source-file src="src/ios/CDVWeibo.m" />
    </platform>

</plugin>
